.potential-songs-container {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.potential-header {
    font-family: 'Rye', cursive;
    padding: 3px 0px;
}

.potential-song {
    font-family: 'Rye', cursive;
    color: black
}