.song-tracker-container {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

song-count {
    font-family: 'Rye', cursive;
    font-weight: 100;

}
li {
    font-family: 'Shrikhand', cursive;
    font-weight: 100;
    letter-spacing: .1vw;
    color:#0C2999
}