body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #171515;
  background-color: #eeede1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 1.5em;
  font-family: 'Rye', cursive;
}

h2{
  font-family: 'Rye', cursive;
}

h3 {
  font-family: 'Rye', cursive;

}

li {
  padding-bottom: 1.1vh;
  font-family: 'Rye', cursive;
}
